.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #E9689A; /* primary color */
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.navbar li {
  cursor: pointer;
}
