.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #E9689A; /* primary color */
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

/* Hover color */
.navbar ul li a:hover {
  color: #e91e63;
}

/* Animated underline */
.navbar ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -6px;
  background-color: #e91e63;
  transition: width 0.3s ease;
}

.navbar ul li a:hover::after {
  width: 100%;
}
