.product-list {
  padding: 2rem;
  text-align: center;
}

.product-list h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #E9689A;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.product-card {
  background-color: #FFF5F8;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 150px;
}

.product-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.product-card h4 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.product-card p {
  font-weight: bold;
  color: #A958C8;
}
